@import url('https://fonts.googleapis.com/css2?family=Yuyu&display=swap');

header {
    background: #6bc9ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.profile {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.exercise {

    display: flex;
    width: 950px;
    max-width: 100%;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.section.week5 {
    width: 830px;
    max-width: 100%;

}

.section {

    width: 250px;
    background: rgba(255, 255, 255, .75);
    border-radius: 12px;
    padding: 20px;
    text-align: center;
}

.social {
    display: flex;
    gap: 10px;
    align-items: center;
}

.social img {
    width: 32px;
    height: 32px;
}

footer {

    background: #6bc9ff;
    padding: 20px;
    text-align: center;
}

p {
    font-family: 'Yuyu', cursive;
    font-size: 20px;
}

main {

    background-image: url("../image/background.jpg");
    background-size: cover;
    background-position: center;
    padding: 30px;
    text-align: center;

}

h1 {
    margin: 10px 0;
    font-family: 'Yuyu', cursive;
    font-size: 20px;
}

h3 {
    margin: 5px 0 20px;
    font-family: 'Yuyu', cursive;
    font-size: 20px;
}

.section hr {
    margin: 15px 0;
}

.section h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.calendar {
    width: 24px;
    height: 24px;
}

.logo {
    display: flex;
    align-items: center;

}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.logo img {
    width: 50px;
    height: auto;
}



@media(max-width:768px) {

    .exercise {

        flex-direction: column;

        align-items: center;
    }

    header {

        flex-direction: column;

        gap: 15px;
    }


}