.container7 {
    max-width: 1240px;
    padding: 60px 20px;
    margin: 0 auto;
}



.case {
    margin-top: 40px;
    background: #191A23;
    border-radius: 45px;
    padding: 40px 50px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.study {

    flex: 1;

    display: flex;

    flex-direction: column;

    justify-content: space-between;

    gap: 30px;
}

.study p {

    color: white;

    font-size: 18px;

    line-height: 28px;
}

.learn {

    display: flex;

    align-items: center;

    gap: 12px;
}

.learn a {

    color: #B9FF66;

    font-size: 20px;
}

.learn img {

    width: 22px;
}

.line {

    width: 1px;

    background: white;
}


.container8 {
    max-width: 1240px;
    padding: 60px 20px;
    margin: 0 auto;
}

.process {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.step {
    background: #F3F3F3;
    border: 1px solid #191A23;
    border-radius: 45px;
    box-shadow: 0 5px 0 #191A23;
    padding: 35px 50px;
}

.active {
    background: #B9FF66;
}

.leftstep {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}

.number {
    font-size: 60px;
    font-weight: 500;
}

.step hr {
    margin: 30px 0;
}

.icon {
    width: 48px;
}

.icon {
    width: 48px;
    height: 48px;
}

.container9 {
    max-width: 1240px;
    padding: 60px 20px;
    margin: 0 auto;
}

.team {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
}

.member {
    width: 380px;
    height: 330px;
    background: #ffffff;
    border: 1px solid #191A23;
    border-radius: 45px;
    box-shadow: 0 5px 0 #191A23;
    padding: 40px;
    box-sizing: border-box;
}

.member-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.member-profile {
    display: flex;
    gap: 20px;
    align-items: center;
}

.member-profile img {
    width: 90px;
}

.info h3 {
    font-size: 20px;
    margin: 0;
}

.info p {
    margin-top: 6px;
    font-size: 18px;
}

.linkedin {
    width: 34px;
}

.member hr {
    margin: 28px 0;
}

.member p {
    font-size: 18px;
    line-height: 28px;
}

.team-button {
    max-width: 1240px;
    margin: 40px auto 80px;
    padding: 0 20px;

    display: flex;
    justify-content: flex-end;
}

.team-button button {
    width: 270px;
    height: 68px;
    background: #191A23;
    color: white;
    border: none;
    border-radius: 14px;
    font-size: 20px;
    font-family: "Space Grotesk", sans-serif;

}

.container10 {
    max-width: 1240px;
    margin: 60px auto;
    padding: 0 20px;
}

.footer {
    background: #191A23;
    border-radius: 45px 45px 0 0;
    padding: 60px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    width: 180px;
}

.footer-nav {
    display: flex;
    gap: 35px;
}

.footer-nav a {
    color: white;
    font-size: 18px;
    text-decoration: underline;
}

.footer-social {
    display: flex;
    gap: 20px;
}

.footer-social img {
    width: 30px;
    height: 30px;
}

.footer-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-bottom: 40px;
}

.contact {
    color: white;
    max-width: 330px;
}

.contact-title {
    display: inline-block;
    background: #B9FF66;
    color: #191A23;
    font-weight: 500;
    border-radius: 6px;
    padding: 4px 10px;
    margin-bottom: 25px;
}

.contact p {
    color: white;
    margin: 18px 0;
    line-height: 28px;
}

.subscribe {
    background: #292A32;
    border-radius: 14px;
    padding: 50px 40px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.subscribe input {
    width: 280px;
    height: 66px;
    background: transparent;
    border: 1px solid white;
    border-radius: 14px;
    padding-left: 20px;
    color: white;
    font-size: 18px;
    outline: none;
}


.subscribe button {
    width: 250px;
    height: 68px;
    background: #B9FF66;
    border: none;
    border-radius: 14px;
    font-size: 20px;
    cursor: pointer;
}

.footer hr {
    border: none;
    border-top: 1px solid white;
    margin: 45px 0;
}

.footer-bottom {
    display: flex;
    gap: 40px;
    align-items: center;
}

.footer-bottom p {
    color: white;
}

.footer-bottom a {
    color: white;
    text-decoration: underline;
}

.service {
    display: inline-block;
    background: #B9FF66;
    color: #191A23;
    padding: 6px 12px;
    margin: 0;
}

.des {
    max-width: 580px;
    margin: 0;
}

/*MOBILE TABLET VIEW **/
@media screen and (max-width:760px) {
    .title {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .service {
        margin: 0 auto;
    }

    .des {
        text-align: center;
    }

    .container7 {
        padding: 40px 16px;
    }

    .case {
        display: flex;
        flex-direction: column;


    }



    .study {
        width: 100%;

    }

    .study p {
        font-size: 15px;
        line-height: 24px;
    }

    .learn a {
        font-size: 16px;
    }

    .line {
        display: block;
        width: 100%;
        height: 1px;
        background: white;
    }

    /* Working Process */
    .container8 {
        padding: 40px 16px;
    }

    .process {
        gap: 18px;
    }

    .step {
        padding: 20px;
        border-radius: 24px;
    }

    .number {
        font-size: 32px;
    }

    .title {
        gap: 15px;

    }


    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }


    .container4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .title h3 {
        font-size: 16px;
    }

    .icon {
        width: 32px;
        height: 32px;
    }

    .step p {
        font-size: 14px;
        line-height: 22px;
    }


    /* Member */

    .container9 {
        padding: 40px 16px;
    }

    .team {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .member {
        width: 100%;
        height: auto;
        padding: 25px;
        border-radius: 24px;
    }

    .member-profile img {
        width: 70px;
    }

    .info h3 {
        font-size: 18px;
    }

    .info p {
        font-size: 14px;
    }

    .member p {
        font-size: 14px;
        line-height: 22px;
    }

    .team-button {
        justify-content: center;
        margin: 30px auto;
    }

    .team-button button {
        width: 100%;
    }

    /* Footer */

    .container10 {
        padding: 0 16px;
    }

    .footer {
        padding: 30px 20px;
        border-radius: 24px 24px 0 0;
    }

    .footer-top {
        flex-direction: column;
        gap: 25px;
    }

    .footer-nav {
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }

    .footer-middle {
        flex-direction: column;
        gap: 30px;
    }

    .contact {
        text-align: center;
    }

    .subscribe {
        width: 100%;
        flex-direction: column;
        padding: 25px;
    }


    .footer-bottom {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}