.container7 {
    max-width: 1240px;
    padding: 60px 20px;
    margin: 0 auto;
}



.case {
    margin-top: 40px;
    background: #191A23;
    border-radius: 45px;
    padding: 40px 50px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.study {

    flex: 1;

    display: flex;

    flex-direction: column;

    justify-content: space-between;

    gap: 30px;
}

.study p {

    color: white;

    font-size: 18px;

    line-height: 28px;
}

.learn {

    display: flex;

    align-items: center;

    gap: 12px;
}

.learn a {

    color: #B9FF66;

    font-size: 20px;
}

.learn img {

    width: 22px;
}

.line {

    width: 1px;

    background: white;
}


.container8 {
    max-width: 1240px;
    padding: 60px 20px;
    margin: 0 auto;
}

.process {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.step {
    background: #F3F3F3;
    border: 1px solid #191A23;
    border-radius: 45px;
    box-shadow: 0 5px 0 #191A23;
    padding: 35px 50px;
}

.active {
    background: #B9FF66;
}

.leftstep {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    align-items: center;
    gap: 25px;
}

.number {
    font-size: 60px;
    font-weight: 500;
}

.step hr {
    margin: 30px 0;
}

.icon {
    width: 48px;
}

.icon {
    width: 48px;
    height: 48px;
}

.container9 {
    max-width: 1240px;
    padding: 60px 20px;
    margin: 0 auto;
}

.team {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
}

.member {
    width: 380px;
    height: 330px;
    background: #ffffff;
    border: 1px solid #191A23;
    border-radius: 45px;
    box-shadow: 0 5px 0 #191A23;
    padding: 40px;
    box-sizing: border-box;
}

.member-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.member-profile {
    display: flex;
    gap: 20px;
    align-items: center;
}

.member-profile img {
    width: 90px;
}

.info h3 {
    font-size: 20px;
    margin: 0;
}

.info p {
    margin-top: 6px;
    font-size: 18px;
}

.linkedin {
    width: 34px;
}

.member hr {
    margin: 28px 0;
}

.member p {
    font-size: 18px;
    line-height: 28px;
}

.container10 {
    max-width: 1240px;
    margin: 60px auto;
    padding: 0 20px;
}

.footer {
    background: #191A23;
    border-radius: 45px 45px 0 0;
    padding: 60px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    width: 180px;
}

.footer-nav {
    display: flex;
    gap: 35px;
}

.footer-nav a {
    color: white;
    font-size: 18px;
    text-decoration: underline;
}

.footer-social {
    display: flex;
    gap: 20px;
}

.footer-social img {
    width: 30px;
    height: 30px;
}

.footer-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-bottom: 40px;
}

.contact {
    color: white;
    max-width: 330px;
}

.contact-title {
    display: inline-block;
    background: #B9FF66;
    color: #191A23;
    font-weight: 500;
    border-radius: 6px;
    padding: 4px 10px;
    margin-bottom: 25px;
}

.contact p {
    color: white;
    margin: 18px 0;
    line-height: 28px;
}

.subscribe {
    background: #292A32;
    border-radius: 14px;
    padding: 50px 40px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.subscribe input {
    width: 280px;
    height: 66px;
    background: transparent;
    border: 1px solid white;
    border-radius: 14px;
    padding-left: 20px;
    color: white;
    font-size: 18px;
    outline: none;
}

.subscribe input::placeholder {
    color: white;
}

.subscribe button {
    width: 250px;
    height: 68px;
    background: #B9FF66;
    border: none;
    border-radius: 14px;
    font-size: 20px;
    cursor: pointer;
}

.footer hr {
    border: none;
    border-top: 1px solid white;
    margin: 45px 0;
}

.footer-bottom {
    display: flex;
    gap: 40px;
    align-items: center;
}

.footer-bottom p {
    color: white;
}

.footer-bottom a {
    color: white;
    text-decoration: underline;
}